#show-more {
  position: fixed;
  bottom: 2%;
  left: 40%;
  width: 15%;
  height: 30px;
  border-radius: 15px;
  display: grid;
  place-items: center;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  font-size: var(--p3-font-size-m);
}

#show-more:hover {
  transform: scale(1.1);
}
