.header-container {
  /* position: fixed; */
  width: 100%;
  /* top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--p3-gap-xl);
  height: 100px;
  padding: var(--p3-padding-xl);
}

.logo-container {
  width: 90px;
  height: 90px;
  padding: var(--p3-padding-xs);
}

.logo-container a img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.search-bar-container {
  width: 300px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  position: relative;
}

.search-bar-container input {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  outline: none;
  border: none;
  padding: var(--p3-padding-s);
  background-color: transparent;
  border: 1px solid #dcd6d684;
}

.search-bar-container input:focus {
  border: 1px solid #000;
}

.search-bar-container button {
  border-radius: 100%;
  width: 16%;
  height: 90%;
  position: absolute;
  right: 2px;
  top: 5%;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}

.search-bar-container input::placeholder {
  font-size: 13px;
  color: rgb(71, 71, 172);
  font-size: var(--p3-font-size-m);
  letter-spacing: 1px;
}

.button-container {
  width: 70px;
  height: 30px;
}

.button-container .refresh-button {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  font-size: var(--p3-font-size-m);
}

.button-container .refresh-button:hover,
.logo-container a img:hover,
.search-bar-container button:hover {
  transform: scale(1.1);
}

.search-bar-container button:hover {
  border: 1px solid rgba(213, 187, 187, 0.74);
}

@media (max-width: 768px) {
  .logo-container {
    width: 70px;
    height: 70px;
  }
  .search-bar-container {
    width: 200px;
  }
}
@media (max-width: 500px) {
  .grid-gallery {
    grid-template-columns: 1fr;
  }
}
